
{%- macro Infobox(Player_Name, Wikipedia_image_link, Nationality, Full_Name, Born,Birth_place, Died, age, Relations,career_span, Batting_Style, Bowling_Style, height_in_feets, height_in_inches, height_in_meters, Gender,Playing_Role,Teams,testdebutdate,testdebutyear,testdebutagainst,odidebutdate,odidebutyear,odidebutagainst,T20Idebutdate,T20Idebutyear,T20Idebutagainst,lasttestdate,lasttestyear,lasttestagainst,lastididate,lastodiyear,lastodiagainst,lastT20Idate,lastT20Iyear,lastT20Iagainst) -%}
    {{'{{Infobox cricketer'}}
	|name    		= {{Player_Name}}
	|country 		= {{Nationality}}
	|fullname  	  = {{Full_Name}}
	{%- if Wikipedia_image_link != 'nan' %}
	|image        =  {{Wikipedia_image_link}}
	|image_size         = 225px
	{%- endif %}
    {%- if Born != '-1' %}
	|birth_date        =  {{Born}}
	{%- endif %}
	{%- if Birth_place != 'nan' %}
	|birth_place        =  {{Birth_place}}
	{%- endif %}
	{%- if Died != 'nan' %}
	|death_place   =  {{Died}}
	{%- endif %}
    {%- if Batting_Style != 'nan' %}
	|batting     =  {{Batting_Style }}
	{%- endif %}
    {%- if Bowling_Style != 'nan' %}
	|bowling       =  {{Bowling_Style }}
	{%- endif %}
    {%- if height_in_feets != 'nan' %}
	|heightft       =  {{height_in_feets }}
	{%- endif %}
	{%- if height_in_inches != 'nan' %}
	|heightinch       =  {{height_in_inches }}
	{%- endif %}
	{%- if height_in_meters != 'nan' %}
	|heightm       =  {{height_in_meters }}
	{%- endif %}
    {%- if Playing_Role != "nan" %}
	|role     =  {{Playing_Role}}
	{%- endif %}
	{%- if Relations != '[]' %}
	|family	   = 
	{%- set s = conv(Relations) -%}
            {%- for it in s -%}
                {{it[0]}}{{it[1]}}
            {%- endfor -%}
	{%- endif %}
	{%- if testdebutdate != "nan" or odidebutdate != "nan" or T20Idebutdate != "nan" %}
	|international      = true
	{%- endif %}
    {%- if testdebutdate != 'nan' %}
	|testdebutdate	   =  {{testdebutdate}}
	|testdebutyear	   =  {{testdebutyear}}
	|testdebutagainst	   =  {{testdebutagainst}}
	{%- endif %}
    {%- if odidebutdate != 'nan' %}
	|odidebutdate	   =  {{odidebutdate}}
	|odidebutyear	   =  {{odidebutyear}}
	|odidebutagainst	   =  {{odidebutagainst}}
	{%- endif %}
    {%- if T20Idebutdate != 'nan' %}
	|T20Idebutdate	   =  {{T20Idebutdate}}
	|T20Idebutyear	   =  {{T20Idebutyear}}
	|T20Idebutagainst	   =  {{T20Idebutagainst}}
	{%- endif %}
    {%- if lasttestdate != 'nan' %}
	|lasttestdate	   =  {{lasttestdate}}
	|lasttestyear	   =  {{lasttestyear}}
	|lasttestagainst	   =  {{lasttestagainst}}
	{%- endif %}
    {%- if lastodidate != 'nan' %}
	|lastodidate	   =  {{lastodidate}}
	|lastodiyear	   =  {{lastodiyear}}
	|lastodiagainst	   =  {{lastodiagainst}}
	{%- endif %}
    {%- if lastT20Idate != 'nan' %}
	|lastT20Idate	   =  {{lastT20Idate}}
	|lastT20Iyear	   =  {{lastT20Iyear}}
	|lastT20Iagainst	   =  {{lastT20Iagainst}}
	{%- endif %}
	|date = 15 జూన్
	|year = 2021
	|source = {{- get_source(profile_ref,Player_Name) -}}
    {{'}}\n'}}
{%- endmacro -%}

{%- macro Overview(Player_Name,full_name_english,profile_ref,Gender,Full_Name,Born_ov,age,Nationality,career_span,Playing_Role,Batting_Style,Bowling_Style,Teams,Major_trophies,AWARDS) -%}
	{% if Gender == "Male" %}
		{%- set gender_pronoun_1 = "అతను" -%}
		{%- set gender_pronoun_2 = "అతని" -%}
		{%- set gender_pronoun_6 = "ఇతను" -%}
		{%- set gender_pronoun_3 = "ఆడాడు" -%}
		{%- set gender_pronoun_4 = "పాల్గొన్నాడు" -%}
		{%- set gender_pronoun_5 = "గెలుచుకున్నాడు" -%}

	{%- else -%}
		{%- set gender_pronoun_1 = "ఆమె" -%}
		{%- set gender_pronoun_2 = "ఆమె" -%}
		{%- set gender_pronoun_6 = "ఈమె" -%}
		{%- set gender_pronoun_3 = "ఆడింది" -%}
		{%- set gender_pronoun_4 = "పాల్గొన్నది" -%}
		{%- set gender_pronoun_5 = "గెలుచుకుంది" -%}
	{%- endif -%}
	{{- Full_Name -}}
	{{- full_name_english -}}
	{{- get_profile_ref(profile_ref,Player_Name) -}}
    {%- if (Born_ov != '-1' and age != 'nan') -%}
		{%- if Born_ov|length == 2 -%}
			{%-set line1 =  ['(జననం : [[',Born_ov[0],']],[[',Born_ov[1],']] , వయసు: ',age,')'] | join('')-%}
        {{[line1] | random}}  
		{%- elif Born_ov|length == 1 -%}
			{%-set line1 =  ['(జననం : [[',Born_ov[0],']], వయసు: ',age,')'] | join('')-%}
        	{{[line1] | random}}
		{%- endif -%}
    {%- elif (Born_ov != '-1' and age == 'nan') -%}
    	{%- if Born_ov|length == 2 -%}
			{%-set line1 =  ['(జననం : [[',Born_ov[0],']],[[',Born_ov[1],']])'] | join('')-%}
        	{{[line1] | random}}
		{%- elif Born_ov|length == 1 -%}
			{%-set line2 =  ['(జననం : [[',Born_ov[0],']])'] | join('')-%}
        	{{[line2] | random}}
		{%- endif -%}
    {%- elif age != 'nan' -%}
    {%-set line3 =  ['(వయసు: ',age,')'] | join('')-%}
        {{[line3] | random}}
    {%- endif -%}
	{%- if Nationality == 'భారతదేశం' -%}
		{%- set country1=[' [[',Nationality,']]కి చెందిన [[క్రికెట్]] ప్లేయర్.'] | join('')-%}
	{{[country1] | random}}
	{%- else -%}
		{%- set country1=[' [[',Nationality,']] దేశానికి చెందిన [[క్రికెట్]] ప్లేయర్.'] | join('')-%}
	{{[country1] | random}}
	{%- endif -%}
    {%- if career_span != 'nan' -%}
        {%- set span_line1=[' ',gender_pronoun_2,' కెరీర్ ',career_span, ' సంవత్సరాల మధ్యలో క్రియాశీలంగా ఉంది. '] | join('')-%}
		{%- set span_line2=[' ',career_span,' సంవత్సరాల మధ్యలో ',gender_pronoun_2,' కెరీర్ క్రియాశీలంగా ఉంది. '] | join('')-%}
		{{[span_line1,span_line2] | random}}
	{%- endif -%}
    {%- if Playing_Role != 'nan' -%}
		{%- set span_role1=[Player_Name,' ఒక ',Playing_Role,'. '] | join('')-%}
        {{[span_role1] | random}}
	{%- endif -%}
	{%- if Batting_Style != 'nan' and Bowling_Style != 'nan' -%}
    	{%-set line4 =  [gender_pronoun_6,' ఒక ',Batting_Style,' బ్యాట్స్‌మన్, ',Bowling_Style,' బౌలర్. '] | join('')-%}
        {{[line4] | random}}
	{%- elif Batting_Style != 'nan' -%}
	{%-set line4 =  [gender_pronoun_6,' ఒక ',Batting_Style,' బ్యాట్స్‌మన్. '] | join('')-%}
        {{[line4] | random}}
	{%- elif Bowling_Style != 'nan' -%}
	{%-set line4 =  [gender_pronoun_6,' ఒక ',Bowling_Style,' బౌలర్. '] | join('')-%}
        {{[line4] | random}}
	{%- endif -%}
    {%- if Teams != 'nan' -%}
	{%- if ',' in Teams -%}
    	{%-set line4 =  [gender_pronoun_1,' ',Teams,' మొదలైన జట్టులలో ',gender_pronoun_3,'. '] | join('')-%}
        {{[line4] | random}}
	{%- else -%}
		{%-set line4 =  [gender_pronoun_1,' ',Teams,' జట్టుకి ',gender_pronoun_3,'. '] | join('')-%}
        {{[line4] | random}}
	{%- endif -%}	
	{%- endif -%}
    {%- if Major_trophies != 'nan' -%}
		{%- if ',' in Major_trophies -%}
		{%- set line1 = [gender_pronoun_1,' ',Major_trophies,' వంటి ఎన్నో ప్రసిద్ధి చెందిన ట్రోఫీలలో ', gender_pronoun_4, '. ' ] | join('') -%}
   			{{[line1] | random}}
		{%- else -%}
		{%- set line1 = [gender_pronoun_1,' తన కెరీర్ లో ',Major_trophies,' లో ', gender_pronoun_4, '. ' ] | join('') -%}
   			{{[line1] | random}}
		{%- endif -%}

	{%- endif -%}

    {%- if AWARDS != 'nan' -%}
		{%- if AWARDS|length > 1 -%}
			{{ AWARDS[0]}}, {{ AWARDS[3]}} వంటి ఎన్నో అవార్డులు, పురస్కారాలు {{gender_pronoun_5}}.
		{%- else -%}
			{{Player_Name}} {{ AWARDS[0]}} పురస్కారం {{gender_pronoun_5}}.
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{# Function Calls are Below #}

{{- Infobox(Player_Name, Wikipedia_image_link, Nationality, Full_Name, Born,Birth_place, Died, age, Relations,career_span, Batting_Style, Bowling_Style, height_in_feets, height_in_inches, height_in_meters, Gender,Playing_Role,Teams,testdebutdate,testdebutyear,testdebutagainst,odidebutdate,odidebutyear,odidebutagainst,T20Idebutdate,T20Idebutyear,T20Idebutagainst,lasttestdate,lasttestyear,lasttestagainst,lastididate,lastodiyear,lastodiagainst,lastT20Idate,lastT20Iyear,lastT20Iagainst) -}}

{{- Overview(Player_Name,full_name_english,profile_ref,Gender,Full_Name,Born_ov,age,Nationality,career_span,Playing_Role,Batting_Style,Bowling_Style,Teams,Major_trophies,AWARDS) -}}



