{%- if gender == "Male" -%}
    {%- set gender_pronoun_1 = "అతను" -%}
    {%- set gender_pronoun_2 = "అతని" -%}
    {%- set gender_pronoun_3 = "ఇతను" -%}
    {%- set gender_pronoun_4 = "ఇతని" -%}
    {%- set has_played = "ఆడాడు" -%}
    {%- set has_done = "చేశాడు" -%}
    {%- set wears = "ధరిస్తాడు" -%}
    {%- set has_taken = "తీసాడు" -%}
    {%- set has_started = "ప్రారంభించాడు" -%}
    {%- set is_reason = "కారణమయ్యాడు" -%}
    {%- set has_clinched = "సాధించాడు" -%}
{%- else -%}
    {%- set gender_pronoun_1 = "ఆమె" -%}
    {%- set gender_pronoun_2 = "ఆమె" -%}
    {%- set gender_pronoun_3 = "ఈమె" -%}
    {%- set gender_pronoun_4 = "ఈమె" -%}
    {%- set has_played = "ఆడింది" -%}
    {%- set has_done = "చేసింది" -%}
    {%- set wears = "ధరిస్తుంది" -%}
    {%- set has_taken = "తీసింది" -%}
    {%- set has_started = "ప్రారంభించింది" -%}
    {%- set is_reason = "కారణమయింది" -%}
    {%- set has_clinched = "సాధించింది" -%}
{%- endif -%}


{%- macro early_career(player_name, career_start_year, first_class_debut, listA_debut, T20_debut, T20I_debut, ODI_debut, test_debut, all_ref) -%}
    {%- if career_start_year > 0 -%}
        {{- [
                player_name ~ ' క్రికెట్ కెరీర్ ' ~ career_start_year |string ~ ' సంవత్సరంలో ప్రారంభమైంది. ',
                player_name ~ ' తన క్రికెట్ కెరీర్ని ' ~ career_start_year |string ~ ' సంవత్సరంలో ' ~ has_started ~ ". "
            ] |random -}}
        {{- get_matches_ref(all_ref, player_name) -}}
        {{- "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(first_class_debut) -%}
        {{- '* ఫస్ట్ క్లాస్ కెరీర్‌లో తొలి మ్యాచ్: ' ~ first_class_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(listA_debut) -%}
        {{- '* లిస్ట్ ఏ కెరీర్‌లో తొలి మ్యాచ్: ' ~ listA_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(T20_debut) -%}
        {{- '* టీ20లలో తొలి మ్యాచ్: ' ~ T20_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(T20I_debut) -%}
        {{- '* టీ20 అంతర్జాతీయ మ్యాచ్‌ల్లో తొలి మ్యాచ్: ' ~ T20I_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(ODI_debut) -%}
        {{- '* వన్డే ఇంటర్నేషనల్ల‌లో తొలి మ్యాచ్: ' ~ ODI_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
    {%- if is_valid_string(test_debut) -%}
        {{- '* టెస్ట్ క్రికెట్‌లో తొలి మ్యాచ్: ' ~ test_debut ~ '.' ~ "\n" -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro career_intro(player_name, player_role, nationality, teams, jersey_number, has_retired, all_ref) -%}
    {%- if gender == "Male" and has_retired -%}
        {%- set play = "ఆడేవాడు" -%}
        {%- set play2 = "వహించేవాడు" -%}
    {%- elif gender == "Male" and not has_retired -%}
        {%- set play = "ఆడుతున్నాడు" -%}
        {%- set play2 = "వహిస్తున్నాడు" -%}
    {%- elif gender == "Female" and has_retired -%}
        {%- set play = "ఆడేది" -%}
        {%- set play2 = "వహించేది" -%}
    {%- else -%}
        {%- set play = "ఆడుతుంది" -%}
        {%- set play2 = "వహిస్తుంది" -%}
    {%- endif -%}
    {%- if is_valid_string(player_role) -%}
        {{- player_name ~ ' ఒక ' ~ player_role ~ '. ' -}} 
    {%- endif -%}
    {%- if is_valid_string(nationality) -%}
        {{- [
                gender_pronoun_1 ~ ' అంతర్జాతీయ క్రికెట్‌లో ' ~ '[[' ~ nationality ~ ']] తరఫున ' ~ play ~ '. ',
                gender_pronoun_1 ~ ' అంతర్జాతీయ క్రికెట్‌లో ' ~ '[[' ~ nationality ~ ']] కి ప్రాతినిధ్యం ' ~ play2 ~ '. '
            ] |random -}}
    {%- endif -%}
    {%- if is_valid_string(teams) -%}
        {%- if ',' in teams -%}
            {{- [
                    gender_pronoun_3 ~ ' ' ~ teams ~ ' వంటి వివిధ జట్ల కోసం ' ~ play ~ '. ',
                    gender_pronoun_3 ~ ' ' ~ teams ~ ' వంటి వివిధ జట్లకు ప్రాతినిధ్యం ' ~ play2 ~ '. '
                ] |random -}}
        {%- else -%}
            {{- [
                    gender_pronoun_3 ~ ' ' ~ teams ~ ' జట్టు కోసం ' ~ play ~ '. ',
                    gender_pronoun_3 ~ ' ' ~ teams ~ ' జట్టుకు ప్రాతినిధ్యం ' ~ play2 ~ '. '
                ] |random -}}
        {%- endif -%}
    {%- endif -%}
    {%- if jersey_number > 0 -%}
        {{- [
                gender_pronoun_1 ~ ' ' ~ jersey_number |string ~ ' వ అంకె జెర్సీ ' ~ wears ~ '. ',
                gender_pronoun_4 ~ ' జెర్సీ సంఖ్య ' ~ jersey_number |string ~ '. ',
                gender_pronoun_1 ~ ' ధరించే జెర్సీ సంఖ్య ' ~ jersey_number |string ~ '. '
            ] |random -}}
        {{- "<ref>[https://www.cricketerlife.com/cricket-jersey-number/ " ~ player_name ~ " జెర్సీ సంఖ్య]</ref>" -}}
    {%- endif -%}
    {{- get_stats_ref(all_ref, player_name) -}}
    {{- "\n" -}}
    {{- "\n" -}}
{%- endmacro -%}

{%- macro batting_description(player_name, sum_batting_matches, sum_batting_innings, sum_batting_runs, sum_batting_100s, 
                        sum_batting_50s, test_batting_average, test_batting_strike_rate, ODI_batting_average, 
                        ODI_batting_strike_rate, T20I_batting_average, T20I_batting_strike_rate, batting_format_names, batting_stat_names) -%}
    {%- set opening_sent = opening_sentence('బ్యాట్స్‌మన్‌గా', player_name, sum_batting_matches, sum_batting_innings, has_played) -%}
    {{- opening_sent -}}
    {%- if sum_batting_runs > 0 -%}
        {%- if sum_batting_runs > 1 -%}
            {{- gender_pronoun_3 ~ ' తన కెరీర్ లో మొత్తం ' ~ sum_batting_runs |string ~ ' పరుగులు ' ~ has_done ~ '. ' -}}
        {%- else -%}
            {{- gender_pronoun_3 ~ ' తన కెరీర్ లో మొత్తం 1 పరుగు ' ~ has_done ~ '. ' -}}
        {%- endif -%}
    {%- endif -%}
    {%- set batting_s1 = batting_sent1(gender_pronoun_3, sum_batting_100s, sum_batting_50s, has_done) -%}
    {{- batting_s1 -}}
    {%- set line1 = batting_description_func('టెస్ట్ క్రికెట్లో', gender_pronoun_2, test_batting_average, test_batting_strike_rate) -%}
    {%- set line2 = batting_description_func('వన్డే ఇంటర్నేషనల్‌లో', gender_pronoun_2, ODI_batting_average, ODI_batting_strike_rate) -%}
    {%- set line3 = batting_description_func('టీ20 అంతర్జాతీయ మ్యాచ్‌ల్లో', gender_pronoun_2, T20I_batting_average, T20I_batting_strike_rate) -%}
    {%- set details = shuffle_list([line1, line2, line3]) -%}
    {%- for elem in details -%}
        {{- elem -}}
    {%- endfor -%}
{%- endmacro -%}

{%- macro display_table(player_name, horizontal_headings, stat_names, table_details, table_name, horizontal_headings_description, prefix_string, is_trophy_table, first_word) -%}
    {%- if horizontal_headings |length > 0 and stat_names |length > 0 -%}
        {%- if not is_trophy_table -%}
            {{- first_word ~ ' ' ~ gender_pronoun_4 ~ ' కెరీర్‌కు సంబంధించిన మరిన్ని వివరాలు క్రింద ఇవ్వబడ్డాయి: ' -}}
        {%- else -%}
            {%- if horizontal_headings |length == 1 -%}
                {{- 'ఈ ట్రోఫీలో ' ~ player_name ~ ' కి సంబంధించిన గణాంకాల గురించి మరిన్ని వివరాలు క్రింద ఇవ్వబడ్డాయి: ' -}}
            {%- else -%} 
                {{- 'ఈ ట్రోఫీలలో ' ~ player_name ~ ' కి సంబంధించిన గణాంకాల గురించి మరిన్ని వివరాలు క్రింద ఇవ్వబడ్డాయి: ' -}}
            {%- endif -%}
        {%- endif -%} 
        {{- "\n" -}}
        {{- "\n" -}}
        {{- '{| class="wikitable sortable" style="width: 85%; margin-left: auto; margin-right: auto; border: none; text-align: center;"' -}}
        {{- '\n' -}}
        {{- '|+ ' ~ table_name -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}}
        {{- '! ' ~ horizontal_headings_description -}}
        {{- '\n' -}}
        {%- for horizontal_heading in horizontal_headings -%}
            {%- if is_trophy_table -%}
                {{- '! {}'.format(get_trophy_name(horizontal_heading)) -}}
            {%- else -%}
                {{- '! {}'.format(get_translation(horizontal_heading, prefix_string)) -}}
            {%- endif -%}      
            {{- '\n' -}}
        {%- endfor -%}
        {{- '|-' -}}
        {{- '\n' -}}
        {%- for stat_name in stat_names -%}
            {{- '! {}'.format(get_translation(stat_name, prefix_string)) -}}
            {{- '\n' -}}
            {{- "|" -}}
            {%- for horizontal_heading in horizontal_headings -%}
                {%- if is_trophy_table -%}
                    {%- if stat_name in table_details[horizontal_heading].keys() -%}
                        {{- ' ' ~ stat_value(stat_name, (table_details[horizontal_heading][stat_name])) |string ~ ' ' -}}
                    {%- else -%}
                        {{- ' - ' -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if prefix_string ~ horizontal_heading ~ '_' ~ stat_name in table_details.keys() -%}
                        {{- ' ' ~ stat_value(stat_name, (table_details[prefix_string ~ horizontal_heading ~ '_' ~ stat_name])) |string ~ ' ' -}}
                    {%- else -%}
                        {{- ' - ' -}}
                    {%- endif -%}
                {%- endif -%}
                {%- if not loop.last -%}
                    {{- "||" -}}
                {%- endif -%}      
            {%- endfor -%}
            {{- '\n' -}}
            {%- if loop.last -%}
                {{- '|}'-}}
            {%- else -%}
                {{- "|-" -}}
            {%- endif -%}
            {{- '\n' -}}
        {%- endfor -%}
        {{- '\n' -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro fielding_description(sum_dismissals, sum_catches, sum_stumpings, is_wicketkeeper, player_role, fielding_format_names, fielding_stat_names) -%}
    {%- if sum_dismissals > 0 -%}
        {%- if not 'వికెట్' in player_role -%}
            {%- set field_role = 'ఫీల్డర్‌గా ' -%}
        {%- else -%}
            {%- set field_role = 'వికెట్ కీపర్ గా ' -%}
        {%- endif -%}
        {%- if sum_dismissals == 1 -%}
            {%- if sum_catches == 1 -%}
                {{- field_role ~ player_name ~ ' తన కెరీర్‌లో, 1 ఫీల్డింగ్ డిస్మిస్సల్ కి ' ~ is_reason ~ ' (1 క్యాచ్‌). ' -}}
            {%- else -%}
                {{- field_role ~ player_name ~ ' తన కెరీర్‌లో, 1 ఫీల్డింగ్ డిస్మిస్సల్ కి ' ~ is_reason ~ ' (1 స్టంపింగ్). ' -}}
            {%- endif -%}
        {%- else -%}
            {{- field_role ~ player_name ~ ' తన కెరీర్‌లో, ' ~ sum_dismissals |string ~ ' ఫీల్డింగ్ డిస్మిస్సల్స్ కి ' ~ is_reason ~ ', ' -}}
            {%- if sum_catches == 0 -%}
                {%- set line = 'ఈ డిస్మిస్సల్స్ లో ' ~ sum_stumpings |string ~ ' స్టంపింగ్స్ ఉన్నాయి. ' -%}
            {%- elif sum_stumpings == 0 -%}
                {%- set line = 'ఈ డిస్మిస్సల్స్ లో ' ~ sum_catches |string ~ ' క్యాచ్‌లు ఉన్నాయి. ' -%}
            {%- else -%}
                {%- if sum_catches == 1 and sum_stumpings == 1 -%}
                    {%- set line = 'ఈ డిస్మిస్సల్స్ లో ' ~ sum_catches |string ~ ' క్యాచ్‌, ' ~ sum_stumpings |string ~ ' స్టంపింగ్ ఉన్నాయి. ' -%}
                {%- elif sum_catches == 1 -%}
                    {%- set line = 'ఈ డిస్మిస్సల్స్ లో ' ~ sum_catches |string ~ ' క్యాచ్‌, ' ~ sum_stumpings |string ~ ' స్టంపింగ్స్ ఉన్నాయి. ' -%}
                {%- elif sum_stumpings == 1 -%}
                    {%- set line = 'ఈ డిస్మిస్సల్స్ లో ' ~ sum_stumpings |string ~ ' స్టంపింగ్, ' ~ sum_catches |string ~ ' క్యాచ్‌లు ఉన్నాయి. ' -%}
                {%- else -%}
                    {%- set line = [
                                    'ఈ డిస్మిస్సల్స్ లో ' ~ sum_catches |string ~ ' క్యాచ్‌లు, ' ~ sum_stumpings |string ~ ' స్టంపింగ్స్ ఉన్నాయి. ',
                                    'ఈ డిస్మిస్సల్స్ లో ' ~ sum_stumpings |string ~ ' స్టంపింగ్స్, ' ~ sum_catches |string ~ ' క్యాచ్‌లు ఉన్నాయి. '
                                    ] |random -%}
                {%- endif -%}
            {%- endif -%}
            {{- line -}}        
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro bowling_description(player_name, sum_bowling_matches, sum_bowling_innings, sum_bowling_balls, sum_wickets, test_bowling_average,
                        test_bowling_economy, ODI_bowling_average, ODI_bowling_economy, T20I_bowling_average, T20I_bowling_economy,
                        bowling_10w_test, bowling_10w_FC, bowling_format_names, bowling_stat_names) -%}
    {%- set opening_sent = opening_sentence('బౌలర్‌గా', player_name, sum_bowling_matches, sum_bowling_innings, has_played) -%}
    {{- opening_sent -}}
    {%- set bowling_s1 = bowling_sent1(gender_pronoun_1, sum_bowling_balls, has_done, sum_wickets, has_clinched) -%}
    {{- bowling_s1 -}}
    {%- set line1 = bowling_description_func('టెస్ట్ క్రికెట్లో', gender_pronoun_4, test_bowling_average, test_bowling_economy) -%}
    {%- set line2 = bowling_description_func('వన్డే ఇంటర్నేషనల్‌లో', gender_pronoun_4, ODI_bowling_average, ODI_bowling_economy) -%}
    {%- set line3 = bowling_description_func('టీ20 అంతర్జాతీయ మ్యాచ్‌ల్లో', gender_pronoun_4, T20I_bowling_average, T20I_bowling_economy) -%}
    {%- set details = shuffle_list([line1, line2, line3]) -%}
    {%- for elem in details -%}
        {{- elem -}}
    {%- endfor -%}
    {%- set bowling_s2 = bowling_sent2(gender_pronoun_4, gender_pronoun_1, bowling_10w_test, bowling_10w_FC, has_clinched) -%}
    {{- bowling_s2 -}}
{%- endmacro -%}

{%- macro trophy_description(player_name, major_trophy_and_championship_names) -%}
    {%- if is_valid_string(major_trophy_and_championship_names) -%}
        {%- if not ',' in major_trophy_and_championship_names -%}
            {{- [
                    player_name ~ ' ' ~ major_trophy_and_championship_names ~ ' లో ' ~ has_played ~ '.' ~ "\n",
                    'తన కెరీర్ లో ' ~ player_name ~ ' ' ~ major_trophy_and_championship_names ~ ' లో ' ~ has_played ~ '.' ~ "\n"
                ] |random -}}
        {%- else -%}
            {{- [
                    player_name ~ ' ' ~ major_trophy_and_championship_names ~ ' వంటి ప్రధాన క్రికెట్ ట్రోఫీలు, ఛాంపియన్‌షిప్‌లలో ' ~ has_played ~ '.' ~ "\n",
                    'తన కెరీర్ లో ' ~ player_name ~ ' ' ~ major_trophy_and_championship_names ~ ' వంటి ప్రధాన క్రికెట్ ట్రోఫీల్లో ' ~ has_played ~ '.' ~ "\n"
                ] |random -}}        
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro define_section(section_name) -%}
    {{ "\n==" ~ section_name ~ "==\n "}}
{%- endmacro -%}

{%- macro define_sub_section(sub_section_name) -%}
    {{ "\n===" ~ sub_section_name ~ "===\n "}}
{%- endmacro -%}

{{ define_section("కెరీర్") }}
{{ define_sub_section("ప్రారంభ రోజులు") }}
{{ early_career(player_name, career_start_year, first_class_debut, listA_debut, T20_debut, T20I_debut, ODI_debut, test_debut, all_ref) }}
{{ define_sub_section("అంతర్జాతీయ, దేశీయ కెరీర్లు") }}
{{ career_intro(player_name, player_role, nationality, teams, jersey_number, has_retired, all_ref) }}

{%- set is_primary_bowler = "Bowl" in player_role -%}
{%- set is_primary_wicketkeeper = player_role == "వికెట్ కీపర్" -%}

{%- if is_primary_bowler -%}
    {{- bowling_description(player_name, sum_bowling_matches, sum_bowling_innings, sum_bowling_balls, sum_wickets, test_bowling_average,
                            test_bowling_economy, ODI_bowling_average, ODI_bowling_economy, T20I_bowling_average, T20I_bowling_economy,
                            bowling_10w_test, bowling_10w_FC, bowling_format_names, bowling_stat_names) -}}
    {{- display_table(player_name, bowling_format_names, bowling_stat_names, bowling_details, 'బౌలింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Bowling_', False, 'బౌలర్‌గా') -}} 
{%- elif is_primary_wicketkeeper -%}
    {{- fielding_description(sum_dismissals, sum_catches, sum_stumpings, is_primary_wicketkeeper, player_role, fielding_format_names, fielding_stat_names) -}}
    {{- display_table(player_name, fielding_format_names, fielding_stat_names, fielding_details, 'ఫీల్డింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Batting_', False, 'ఫీల్డర్‌గా') -}}
{%- else %}
    {{- batting_description(player_name, sum_batting_matches, sum_batting_innings, sum_batting_runs, sum_batting_100s, 
                            sum_batting_50s, test_batting_average, test_batting_strike_rate, ODI_batting_average, 
                            ODI_batting_strike_rate, T20I_batting_average, T20I_batting_strike_rate, batting_format_names, batting_stat_names) -}}
    {{- display_table(player_name, batting_format_names, batting_stat_names, batting_details, 'బ్యాటింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Batting_', False, 'బ్యాట్స్‌మన్‌గా') -}}  
{%- endif %}


{%- if is_primary_wicketkeeper -%}
    {{- batting_description(player_name, sum_batting_matches, sum_batting_innings, sum_batting_runs, sum_batting_100s, 
                            sum_batting_50s, test_batting_average, test_batting_strike_rate, ODI_batting_average, 
                            ODI_batting_strike_rate, T20I_batting_average, T20I_batting_strike_rate, batting_format_names, batting_stat_names) -}}
    {{- display_table(player_name, batting_format_names, batting_stat_names, batting_details, 'బ్యాటింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Batting_', False, 'బ్యాట్స్‌మన్‌గా') -}}
{%- else %}
    {{- fielding_description(sum_dismissals, sum_catches, sum_stumpings, is_primary_wicketkeeper, player_role, fielding_format_names, fielding_stat_names) -}}
    {{- display_table(player_name, fielding_format_names, fielding_stat_names, fielding_details, 'ఫీల్డింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Batting_', False, 'ఫీల్డర్‌గా') -}}
{%- endif %}


{%- if is_primary_bowler -%}
    {{- batting_description(player_name, sum_batting_matches, sum_batting_innings, sum_batting_runs, sum_batting_100s, 
                            sum_batting_50s, test_batting_average, test_batting_strike_rate, ODI_batting_average, 
                            ODI_batting_strike_rate, T20I_batting_average, T20I_batting_strike_rate, batting_format_names, batting_stat_names) -}}
    {{- display_table(player_name, batting_format_names, batting_stat_names, batting_details, 'బ్యాటింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Batting_', False, 'బ్యాట్స్‌మన్‌గా') -}}
{%- else -%}
    {{- bowling_description(player_name, sum_bowling_matches, sum_bowling_innings, sum_bowling_balls, sum_wickets, test_bowling_average,
                            test_bowling_economy, ODI_bowling_average, ODI_bowling_economy, T20I_bowling_average, T20I_bowling_economy,
                            bowling_10w_test, bowling_10w_FC, bowling_format_names, bowling_stat_names) -}}
    {{- display_table(player_name, bowling_format_names, bowling_stat_names, bowling_details, 'బౌలింగ్ కెరీర్ గణాంకాలు', 'ఫార్మాట్', 'Bowling_', False, 'బౌలర్‌గా') -}} 
{%- endif -%}

{{- trophy_description(player_name, major_trophy_and_championship_names) -}}
{{- display_table(player_name, trophy_names, trophy_stat_names, trophy_details, 'ప్రధాన ట్రోఫీల గణాంకాలు', 'ట్రోఫీ పేరు', '', True, '') -}}
